* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-item {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar {
    background-color: #f9f4ef;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f4ef;
    min-height: 60px;
    gap: 20px;
}

footer img {
    width: 30px;
    height: auto;
    transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
    .carousel-item {
        margin-top: 90px; /
    }
    .card{
        padding-left: 120px;
    }
}

